@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'welcome';
@import 'sessions';

$main_color: #006847;
$background: #ECF0F1;
$accents: #CE1126;

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

body {
  background-image: url(http://i.imgur.com/54ySG1B.png);
  background-size: auto;
  background-position: top;
  font-family: 'Walter Turncoat', cursive;

  .app_nav {
    background-color: lighten($main_color, 0%);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      i {
        color: $accents;
      }
      .nav_text {
        font-size: 30px;
        color: $background;
      }
    }
  }
}
