@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'welcome';

$main_color: #27AE60;
$background: #ECF0F1;
$accents: #C0392B;

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

body {
  background-color: $background;
  font-family: 'Walter Turncoat', cursive;

  .app_nav {
    background-color: $main_color;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      span {
        color: $accents;
      }
      .nav_text {
        font-size: 30px;
        color: $background;
      }
    }
  }
}
