$main_color: #006847;
$background: #ECF0F1;
$accents: #CE1126;

.registration_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 170px;
}


.username_show {
  padding-left: 10px;
}

.profile_container {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  .user_photo_show {
    position: relative;
    border: 2px solid $accents;
    border-radius: 3px;
      .stache {
        position: absolute;
        bottom: 95px;
        right: 140px;
      }
  }
  .user_tweets {
    flex-direction: column;
    padding-left: 10px;
    .tweet a{
      text-decoration: none;
      color: $accents;
    }
  }
}
